{
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ],
    },
  },
  "plugins": [
    [
      "transform-remove-console",
      {
        "exclude": [
          "error",
          "warn"
        ]
      }
    ]
  ]
}
